
@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}

/* background-position - define a posição da imagem 
    background-position : 1-coluna 2-linha
    ex : background-position : right left
  
   */

   body {
    background-image: url(../img/mascote.png);
    background-repeat: no-repeat;
    width: 10px 10px;
   }